[submodule "firmware/psoc"]
	path = src/firmware/psoc
	url = https://github.com/simplementeUnPorito/Tesis-firmware-psoc.git
[submodule "firmware/esp32"]
	path = src/firmware/esp32
	url = https://github.com/simplementeUnPorito/Tesis-firmware-esp32.git
[submodule "software/python"]
	path = src/interfaces/python
	url = https://github.com/simplementeUnPorito/Tesis-interfaces-python.git
[submodule "modelado/matlab"]
	path = src/calculos_modelados/matlab
	url = https://github.com/simplementeUnPorito/Tesis-calculos-matlab.git
[submodule "data"]
	path = data
	url = https://github.com/simplementeUnPorito/Tesis-datos.git
[submodule "docs"]
	path = docs
	url = https://github.com/simplementeUnPorito/Tesis-documentacion.git
[submodule "calculos_modelados/python"]
	path = src/calculos_modelados/python
	url = https://github.com/simplementeUnPorito/Tesis-calculos-python.git
[submodule "interfaces/matlab"]
	path = src/interfaces/matlab
	url = https://github.com/simplementeUnPorito/Tesis-interfaces-matlab.git
[submodule "PCBs"]
	path = PCBs
	url = https://github.com/simplementeUnPorito/Tesis-PCBs.git
