[submodule "firmware/psoc"]
	path = firmware/psoc
	url = https://github.com/simplementeUnPorito/Tesis-firmware-psoc.git
[submodule "firmware/esp32"]
	path = firmware/esp32
	url = https://github.com/simplementeUnPorito/Tesis-firmware-esp32.git
[submodule "software/python"]
	path = software/python
	url = https://github.com/simplementeUnPorito/Tesis-software-python.git
[submodule "modelado/matlab"]
	path = modelado/matlab
	url = https://github.com/simplementeUnPorito/Tesis-modelado-matlab.git
[submodule "investigacion"]
	path = investigacion
	url = https://github.com/simplementeUnPorito/Tesis-investigacion.git
[submodule "data"]
	path = data
	url = https://github.com/simplementeUnPorito/Tesis-datos.git
[submodule "docs"]
	path = docs
	url = https://github.com/simplementeUnPorito/Tesis-documentacion.git
