[submodule "third_party/MASW-Matlab-code"]
	path = third_party/MASW-Matlab-code
	url = https://github.com/nikhil2211/MASW-Matlab-code.git
[submodule "third-party/maswavespy"]
	path = third-party/maswavespy
	url = https://github.com/Mazvel/maswavespy
